<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Application Programming Interface

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create and Use APIs in Python

### Introduction

An API lets two pieces of software talk to each other. Just like a function,  you don’t have to know how the API works only its inputs and outputs.  An essential type of API is a REST API that allows you to access resources via the internet. In this lab, we will review the Pandas Library  in the context of an API, we will also review a basic REST API

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="https://#ref0">Pandas is an API</a></li>
<li><a href="https://#ref1">REST APIs Basics  </a></li>
<li><a href="https://#ref2">Quiz on Tuples</a></li>

</div>

<hr>

In [1]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pycoingecko) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests->pycoingecko) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests->pycoingecko) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests->pycoingecko) (2.0.8)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0
Requirement already satisfied: plotly in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (5.4.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from plotly) (8.0.1)
Collecting mplfinance
  Downloading mplfinance-0.12.8b9-py3-none-any.whl (70 kB)
     |████████████████████████████████| 70 kB 8.2 MB/s
Requirement already satisfied: matplotlib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from mplfinance) (3.5.0)
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from mplfinance) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: numpy>=1.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (1.21.4)
Requirement already satisfied: packaging>=20.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (21.3)
Requirement already satisfied: cycler>=0.10 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (3.0.6)
Requirement already satisfied: pillow>=6.2.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (8.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from matplotlib->mplfinance) (4.28.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas->mplfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib->mplfinance) (1.16.0)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.8b9

<h2 id="PandasAPI">Pandas is an API </h2>

Pandas is actually set of software components , much of  which is not even written in Python.

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

You create a dictionary, this is just data.

In [3]:
dict_={'a':[11,21,31],'b':[12,22,32]}

When you create a Pandas object with the Dataframe constructor in API lingo, this is an "instance". The data in the dictionary is passed along to the pandas API. You then use the dataframe to communicate with the API.

In [4]:
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/images/pandas_api.png" width = 800, align = "center" alt="logistic regression block diagram" />

When you call the method head the dataframe communicates with the API displaying the first few rows of the dataframe.

In [5]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

When you call the method mean,the API will calculate the mean and return the value.

In [6]:
df.mean()

a    21.0
b    22.0
dtype: float64

<h2 id="ref1">REST APIs</h2>

Rest API’s function by sending a request,  the request is communicated via HTTP message. The HTTP message usually contains a JSON file. This contains instructions for what operation we would like the service or resource to perform. In a similar manner, API returns a response, via an HTTP message, this response is usually contained within a JSON.

In cryptocurrency a popular method to display the movements of the price of a currency.

![Example Candlestick Graph](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/candlestick.png)

Here is a description of the candle sticks.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/explanation.png" alt="Candle Stick Definition" width="800" height="600">

In this lab, we will be using the <a href=https://www.coingecko.com/en/api?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>CoinGecko API</a> to create one of these candlestick graphs for Bitcoin. We will use the API to get the price data for 30 days with 24 observation per day, 1 per hour. We will find the max, min, open, and close price per day meaning we will have 30 candlesticks and use that to generate the candlestick graph. Although we are using the CoinGecko API we will use a Python client/wrapper for the API called <a href=https://github.com/man-c/pycoingecko?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>PyCoinGecko</a>. PyCoinGecko will make performing the requests easy and it will deal with the enpoint targeting.

Lets start off by getting the data we need. Using the <code>get_coin_market_chart_by_id(id, vs_currency, days)</code>. <code>id</code> is the name of the coin you want, <code>vs_currency</code> is the currency you want the price in, and <code>days</code> is how many days back from today you want.

In [8]:
cg = CoinGeckoAPI()

bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [11]:
type(bitcoin_data)

dict

The response we get is in the form of a JSON which includes the price, market caps, and total volumes along with timestamps for each observation. We are focused on the prices so we will select that data.

In [15]:
bitcoin_price_data = bitcoin_data['prices']

len(bitcoin_price_data)

718

Finally lets turn this data into a Pandas DataFrame.

In [17]:
data = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'Price'])
data

         TimeStamp         Price
0    1642960836652  35472.731436
1    1642964487734  35005.579457
2    1642968200712  34804.560653
3    1642971750755  35332.049887
4    1642975229876  35566.673030
..             ...           ...
713  1645538502974  37884.003504
714  1645542093649  38123.747275
715  1645545654150  37856.479107
716  1645549333614  37708.023314
717  1645550647000  37502.501476

[718 rows x 2 columns]

Now that we have the DataFrame we will convert the timestamp to datetime and save it as a column called <code>Date</code>. We will map our <code>unix_to_datetime</code> to each timestamp and convert it to a readable datetime.

In [19]:
data['date'] = data['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d/1000.0))
data

         TimeStamp         Price        date
0    1642960836652  35472.731436  2022-01-23
1    1642964487734  35005.579457  2022-01-23
2    1642968200712  34804.560653  2022-01-23
3    1642971750755  35332.049887  2022-01-23
4    1642975229876  35566.673030  2022-01-23
..             ...           ...         ...
713  1645538502974  37884.003504  2022-02-22
714  1645542093649  38123.747275  2022-02-22
715  1645545654150  37856.479107  2022-02-22
716  1645549333614  37708.023314  2022-02-22
717  1645550647000  37502.501476  2022-02-22

[718 rows x 3 columns]

Using this modified dataset we can now group by the <code>Date</code> and find the min, max, open, and close for the candlesticks.

In [21]:
candlestick_data = data.groupby(data.date, as_index=False).agg({"Price": ['min', 'max', 'first', 'last']})
candlestick_data

          date         Price
                         min           max         first          last
0   2022-01-23  34804.560653  35578.381137  35472.731436  35578.381137
1   2022-01-24  33505.713858  37475.908358  36306.409440  36313.848952
2   2022-01-25  35932.246801  37364.884607  36774.007142  36833.930796
3   2022-01-26  36480.078290  38566.225084  36988.928511  36776.532241
4   2022-01-27  35622.943567  37053.064536  37007.385906  36974.749750
5   2022-01-28  36301.514582  37907.740050  37276.839558  37742.296335
6   2022-01-29  37540.930536  38509.115336  37852.579028  38191.791040
7   2022-01-30  37575.728711  38333.500420  38232.178732  37874.997967
8   2022-01-31  36920.786339  38563.863262  37983.151499  38494.392527
9   2022-02-01  38277.927203  39048.306029  38555.534461  38728.890085
10  2022-02-02  36907.865554  38801.342545  38801.342545  37175.509611
11  2022-02-03  36438.718199  37179.775737  37000.982499  36928.709024
12  2022-02-04  37101.351594  40781.156174  37101.351594  40717.528284
13  2022-02-05  41315.191902  41837.961720  41673.839554  41663.433095
14  2022-02-06  41388.237025  41769.576120  41493.690051  41708.010101
15  2022-02-07  41887.515947  44425.793222  42475.543221  44183.676337
16  2022-02-08  43027.310945  44938.360267  43910.929986  44156.931122
17  2022-02-09  43383.780066  44758.036782  44184.447512  44637.240496
18  2022-02-10  43832.229497  45481.588945  44383.888055  43914.600338
19  2022-02-11  42175.813082  43876.154545  43628.139532  42175.813082
20  2022-02-12  41985.314998  42917.689518  42445.388768  42230.980160
21  2022-02-13  42011.860490  42672.324428  42254.738123  42425.875633
22  2022-02-14  41793.983580  42741.510518  42247.835953  42695.132210
23  2022-02-15  42601.826085  44358.951627  42634.573784  44259.938508
24  2022-02-16  43526.665148  44574.320571  44574.320571  44102.769208
25  2022-02-17  40772.061390  44113.431871  43953.748004  40772.061390
26  2022-02-18  39868.328563  40948.407517  40562.986950  40039.001239
27  2022-02-19  39822.318524  40442.261366  40073.495362  40102.312136
28  2022-02-20  38263.046610  40192.759121  40192.759121  38779.673227
29  2022-02-21  37557.600159  39424.088165  38514.008536  37682.442088
30  2022-02-22  36629.471043  38123.747275  37059.979402  37502.501476

Finally we are now ready to use plotly to create our Candlestick Chart.

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=candlestick_data['date'],
                open=candlestick_data['Price']['first'], 
                high=candlestick_data['Price']['max'],
                low=candlestick_data['Price']['min'], 
                close=candlestick_data['Price']['last'])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()

## Authors:

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description                 |
| ----------------- | ------- | ------------- | ---------------------------------- |
| 2020-11-23        | 3.0     | Azim Hirjani  | New API                            |
| 2020-09-09        | 2.1     | Malika Singla | Spell Check                        |
| 2020-08-26        | 2.0     | Lavanya       | Moved lab to course repo in GitLab |
|                   |         |               |                                    |

<hr/>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>